<% content_for :head do  %>
  全部商品
<% end %>
<div class="courses clearfix">
<% @cups.each do |cup| %>
  <div class="course">
    <%= link_to cup, class: "cover" do%>
      <%= image_tag cup.cover %>
    <% end %>
    <p class="title"><%= cup.name %></p>
    <ul class="action">
      <li class="price">
        <%= cup.price %>元
      </li>
    </ul>
  </div>
<% end %>
</div>
