<% content_for :head do %>
  <%= @course.name %>
<% end %>
<div class="course-show">
  <div class="cover">
    <%= image_tag @course.cover %>
  </div>
  <div class="pay button">
    购买课程
  </div>
  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Back', courses_path %>
</div>
