*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
html, body {
  min-height: 100%;
  background: #F0F0F0;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}
body, ul, h3, h4, p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  min-width: 1000px;
}
header {
  text-align: center;
  height: 80px;
  line-height: 80px;
  color: #FFF;
  font-size: 25px;
  font-weight: 600;
  background-color: teal;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.wrapper {
  width: 960px;
  margin: 50px auto;
}

@mixin shadow {
  border: 1px solid #ccc;
  background-color: #FFF;
  -moz-box-shadow: 0 0 30px #ccc;
  -webkit-box-shadow: 0 0 30px #ccc;
  box-shadow: 0 0 30px #ccc;
  padding: 30px 50px;
}

.courses {
  margin: 0 -15px;
}
.course {
  border: 1px solid #ccc;
  background-color: #FFF;
  width: 300px;
  height: 100%;
  margin: 15px;
  float: left;
  box-shadow:
  a, img {
    display: block;
  }
  img {
    width: 100%;
    border-bottom: 3px solid teal;
  }
  .title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 18px;
    color: #333;
  }
  .action li {
    display: inline-block;
    font-size: 14px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #555;
  }
  .price {
    float: right;
    padding-right: 10px;
  }
}
.new-course {
  background-color: #33A646;
  padding: 10px;
  width: 150px;
  margin-top: 50px;
  text-align: center;
  a {
    color: #FFF;
    font-size: 20px;
  }
}
.course-show {
  @include shadow;
  .cover {
    float: left;
    text-align: center;
    img {
      display: block;
      margin-bottom: 10px;
    }
    a {
      display: inline-block;
      padding: 10px;
      color: teal;
    }
    a.danger {
      color: #d26911;
    }
  }
  .buy-course {
    background-color: #33A646;
    width: 180px;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    float: left;
    margin-left: 100px;
    a {
      color: #FFF;
    }
  }
}
.new-order {
  @include shadow;
  text-align: center;
  table {
    width: 100%;
    height: 100px;
    margin: 20px auto 50px;
    text-align: center;
    border-collapse: collapse;
    th, td {
      border: 1px solid #ccc;
      padding: 10px;
    }
    th:first-child {
      width: 80px;
    }
    td {
      color: #333;
    }
  }
  .order-button {
    background-color: #33A646;
    width: 150px;
    padding: 10px;
    text-align: center;
    color: #FFF;
    border: none;
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}
